<div class="header-name">
    <h2>Отзывы</h2>
</div>
<div class="container">
    {% for item in feedback %}
        <h3>{{ item.name }}</h3>
        <p>{{ item.feedback }}</p>
        <hr>
    {% endfor %}
</div>
